{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "configFile": "./eslint-babel.json"
    }
  },
  "env": {
    "meteor": true,
    "mongo": true,
    "node": true,
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "plugin:meteor/recommended",
    "plugin:react-hooks/recommended",
    "plugin:cypress/recommended"
  ]
}
